{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style": 0, // disabling to make it easier with nested promises
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": 0,
    "linebreak-style": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "no-class-assign": 0,
    "no-script-url": 0,
    "max-len": "off"
  },
  "globals": {
    "Headers": true,
    "document": false,
    "window": false,
    "FB": false
  }
}
